@model blogGames.ViewModels.BlogViewModel

<div>&nbsp;</div>
<div class="alert alert-info">
    <h3> List of @Model.NumberOfBlogs Blogs</h3>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-condensed table-striped">
    <tr>
        <th>
            <h2>@Html.DisplayNameFor(model => model.TheBlogs[0].BlogTitle)</h2>
        </th>
        <th>
            <h2>@Html.DisplayNameFor(model => model.TheBlogs[0].BlogAuthor)</h2>
        </th>
        <th>
            <h2>Action</h2>
        </th>
    </tr>

    @foreach (var blog in Model.TheBlogs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => blog.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.BlogAuthor)
            </td>
            <td>
                @Html.ActionLink("More", "Details", new { id= blog.BlogTitle }) 
            </td>
        </tr>
    }

</table>
